<!DOCTYPE html>

<!-- imports all the required polymer libraries-->
<link rel="import" href="../../packages/polymer/polymer.html">
<!-- imports all the required material design libraries -->
<link rel="import" href="../../packages/paper_elements/paper_button.html">


<polymer-element name="my-button">
<template>
	<style>
		paper-button{
			background-color: #2ecc71;
		}
        .remove-button{
            background-color: #e74c3c;
        }
	</style>
  	<h1>Below is the title that will change dynamically</h1>
  	<p>{{title}}</p>
  	<input id="input_1" value="" on-keyup="{{typing}}"/>
  	<hr>
  	<paper-button id="add_btn" on-click={{clicked}} type="button">Click here</paper-button>
</template>
<script type="application/dart"src="my-button.dart" ></script>
</polymer-element>
